body
{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    width: 80vw;
    margin: auto;
    overflow-wrap: break-word;
}

div img 
{
    width: 20%;
}

.displayed-img, #thumb-bar
{
    width: 80vw;
}

.form
{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.visible
{
    visibility: hidden;
}

@media (min-width:640px)
{
    body, .displayed-img
    {
        width: 640px;
    }

    .form
    {
        justify-content: space-evenly;
        flex-direction: initial;
    }

    .displayed-img, #thumb-bar
    {
        width: 640px;
    }
    
}
