body
{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    width: 640px;
    margin: 0 auto;
}

div img {
    width: 20%;
}

.form
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
@media (min-width:640px)
{
    body 
    {
        width: 80vw;
    }
}